@font-face {
    font-family: outfit;
    src: url('/project-profile/font/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: lato;
    src: url('/project-profile/font/lato/Lato-Black.ttf');
}

@font-face {
    font-family: heist;
    src: url('/project-profile/font/heist/Heist\ Regular.otf');
}

@font-face {
    font-family: poppins;
    src: url('/project-profile/font/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('/project-profile/font/montserrat/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
}

 :root {
    --main: #011A2C;
    --red: #F21967;
    --white: #ffffff;
    --grey: rgba(255, 255, 255, 0.316);
}

html body {
    background-color: var(--main);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a.header_text-left {
    text-decoration: none;
    color: var(--white);
    font-family: outfit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 5px;
    padding: 0px 64px;
}

a.header_text-right {
    text-decoration: none;
    color: var(--white);
    font-family: outfit;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0px 64px;
}

a:hover.header_text-right,
a:hover.header_text-left {
    color: var(--red);
}

.header {
    height: 89px;
    background-color: transparent;
    border-bottom: 1px solid rgba(128, 128, 128, 0.504);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header_logo {
    width: 104px;
    height: 24px;
}

img.header_logo-img {
    width: 100%;
    height: 100%;
    margin: 32px 64px;
}

ul.header_menu-list {
    padding: 0;
}

ul.header_menu-list.text-center {
    margin: 0px;
}

.header_icon {
    width: 162px;
    height: 17px;
    display: flex;
    justify-content: space-around;
    margin: 9px 21px;
}

a.header_icon-link {
    text-decoration: none;
}

.header_icon-item {
    color: var(--white);
    font-size: 24px;
}

.header_menu-item {
    display: inline-block;
    margin-right: 48px;
}

.header_menu-item a.header_menu-item-link {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    line-height: 53px;
    text-transform: uppercase;
    font-family: outfit;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
}

li.header_menu-item a.header_menu-item-link:hover {
    border-bottom: 2px solid var(--red);
    color: var(--red);
    padding-bottom: 10px;
    padding-right: 0px;
    animation: loading_menu 0.3s forwards linear;
}

@keyframes loading_menu {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.header_text-wrapper {
    position: absolute;
    bottom: 47px;
    width: 100%;
}

.pots_content {
    height: 2206px;
    position: relative;
}

.pots_heading {
    color: var(--white);
    font-family: 'heist';
    font-size: 56px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    padding: 185px 0px 96px;
}

.blog_block {
    width: 416px;
    border: 1px solid gray;
    position: relative;
    margin-bottom: 32px;
}

.blog_block::before {
    content: "";
    position: absolute;
    border-top: 3px solid red;
    border-left: 3px solid yellow;
    width: 50px;
    height: 50px;
    transition: all 2s;
}

.blog_block::after {
    content: "";
    position: absolute;
    border-right: 3px solid red;
    border-bottom: 3px solid yellow;
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    transition: all 2s;
}

.blog_block:hover::before {
    width: 100%;
    height: 100%;
}

.blog_block:hover:after {
    width: 100%;
    height: 100%;
}

.blog_block:hover {
    background-image: url(/blog_img/blog_bg.png);
    background-size: cover;
    background-position: -48px 0px;
    transition: 2s;
}

.blog_date {
    color: var(--red);
    font-family: 'outfit';
    font-weight: 600;
    font-size: 14px;
    padding: 32px 0px 16px 24px;
}

.blog_text {
    color: var(--white);
    font-family: 'outfit';
    font-size: 24px;
    font-weight: 600;
    padding: 0px 24px 16px 24px;
}

.blog_paragraph {
    color: var(--white);
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 400;
    padding: 0px 6px 32px 24px;
}

.pots_button {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

button.pots_btn-item {
    color: var(--white);
    background: transparent;
    width: 48px;
    height: 48px;
    border: 1px solid var(--grey);
}

button.pots_btn-item:hover {
    background: var(--red);
}